body {
  font: 400 15px Lato, sans-serif;
  line-height: 1.8;
  color: #818181;
}

#email ,#name, #comments {
  border: 2px solid lightblue;!important
}

h2 {
  font-size: 24px;
  text-transform: uppercase;
  color: #303030;
  font-weight: 300;
  margin-bottom: 30px;
  text-align: center;
  font-family: 'Montserrat', cursive;
}

#contact h2 {
  text-align: left;
}

h4 {
  font-size: 19px;
  line-height: 1.375em;
  color: #303030;
  font-weight: 400;
  margin-bottom: 30px;
}

.jumbotron {
  background-color: #42c4ac;
 /* background-image:url("http://www.happycakescupcake.com/ss6new.jpg");
  background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
      background-size: 100% 100vh; */

  color: #fff;
  padding: 100px 25px;
  font-family: Montserrat, sans-serif;
  height: 100vh;
  border-bottom: 5px solid pink;
}


.jumbotron p {
  color: #ddd;
  font-size: .9em;
  font-family: Montserrat, sans-serif;
  letter-spacing: 4px;
}

.jumbotron h1 {
  font-family: 'Amatic SC', cursive;
  font-size: 103px;
  color: white;
}

.price {
  font-family: 'Amatic SC', cursive;
  font-size: 60px;
  text-shadow: 2px 2px 2px gray;
}



p {
  color: #222;
}

glyphicon-lamp {
  text-align:center;
}

.logo-small {
  color: #feb0a9;
  font-size: 50px;
}

.logo {
  color: #feb0a9;
  font-size: 200px;
}

.thumbnail {
  padding: 0 0 15px 0;
  border: none;
  border-radius: 0;
  display:inline-block;
}

.thumbnail img {
  height: 350px;
  margin-bottom: 10px;
}

.cakePic:hover {
  opacity: 1.0;

}

#portfolio {
  background-color: white;
  background-image: url("Wedding CakePink.png");
}


.carousel-control.right,
.carousel-control.left {
  background-image: none;
  color: #FF5252;
}

.carousel-indicators li {
  border: 3px solid white;
  width: 20px;
  height: 20px;
}

.carousel-indicators li.active {
  background-color: #feb0a9;
  width: 20px;
  height: 20px;
}

.item h4 {
  font-size: 19px;
  line-height: 1.375em;
  font-weight: 400;
  font-style: italic;
  margin: 50px 0;
}

.item span {
  font-style: normal;
}

.panel {
  border: 1px solid #feb0a9;
  border-radius: 0 !important;
  transition: box-shadow 0.5s;
  box-shadow: 0px 0px 10px -5px #777;
}

.panel:hover {
  box-shadow: 5px 0px 40px rgba(0, 0, 0, .2);
}

.panel-footer .btn {
  box-shadow: 0px 0px 22px -4px gray;
}

.panel-footer .btn:hover {
  border: 1px solid #FF1744;
  background-color: #fff !important;
  color: #FF1744;
}

.panel-heading {
  color: #fff !important;
  background-color: #feb0a9 !important;
  padding: 10px;
  border-bottom: 1px solid transparent;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
}

.panel-heading p {
  color: white;
}

.panel-footer {
  background-color: white !important;
}

.panel-footer h3 {
  font-size: 32px;
}

.panel-footer h4 {
  color: #aaa;
  font-size: 14px;
}

.panel-footer .btn {
  margin: 15px 0;
  background-color: #feb0a9;
  color: #fff;
}

.navbar {
  margin-bottom: 0;
  background-color: #42c4ac;
  z-index: 9999;
  border: 0;
  font-size: 12px !important;
  line-height: 1.42857143 !important;
  letter-spacing: 4px;
  border-radius: 0;
  font-family: Montserrat, sans-serif;
}



.navbar li a,
.navbar .navbar-brand {
  color: white !important;
}

.navbar-default .navbar-toggle .icon-bar {
     background-color: white !important;
}

.navbar-brand > img {
  display: block;
  margin-top: -10px;
  float:left;
  margin-right: 7px;
}

.navbar-nav li a:hover,
.navbar-nav li.active a {
  color: #FF5252 !important;
  font-weight: bold;
  background-color: #fff !important;
}

.navbar-default .navbar-toggle {
  border-color: transparent;
  color: #fff !important;
}

footer .glyphicon {
  font-size: 50px;
  margin-bottom: 20px;
  color: #FF5252;
}

.cakePic {
 max-height: 350px;
 object-fit: contain;
 border-radius: 25px;
 opacity: 0.9;
}


.fa-chevron-circle-up {
  color: #42c4ac;
  margin-bottom: 10px;
  text-shadow: 0px 2px 2px gray;
}

@-webkit-keyframes bounce {
  0% {
    transform: translate(0px, 0px);
  }
  50% {
    transform: translate(0px, 7px);
  }
  100% {
    transform: translate(0px, 0px);
  }
}

.bounce {
  -webkit-animation: bounce 0.95s infinite;
}

.slideanim {
  visibility: hidden;
}

.slide {
  animation-name: slide;
  -webkit-animation-name: slide;
  animation-duration: 1s;
  -webkit-animation-duration: 1s;
  visibility: visible;
}

#contactButton {
  background-color: #42c4ac !important;
  color: white;
  border: none;
  padding: 20px;
  width: 100%;
  font-size: 25px;
  -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
}

#contactButton:hover {
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
  color: white;
}



#contactButton:after {
    content: "";
    background: #f1f1f1;
    display: block;
    position: absolute;
    padding-top: 300%;
    padding-left: 350%;
    margin-left: -20px !important;
    margin-top: -120%;
    opacity: 0;
    transition: all 0.8s
}



#contactButton:active:after {
    padding: 0;
    margin: 0;
    opacity: 1;
    transition: 0s
}





.logo-small {
  text-shadow: 1px 1px 1px black;
}

.cta {
  background-color: #feb0a9;
  color: #fff;
  border: 0;
  padding:20px;
  text-shadow: 1px 1px black;
  box-shadow: 2px 2px 2px #777;
}

#id {
  position: absolute;
}

.cta:hover {
  border: 1px solid #FF1744;
  background-color: #fff !important;
  color: #FF1744;
}

@keyframes slide {
  0% {
    opacity: 0;
    transform: translateY(70%);
  }
  100% {
    opacity: 1;
    transform: translateY(0%);
  }
}

@-webkit-keyframes slide {
  0% {
    opacity: 0;
    -webkit-transform: translateY(70%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0%);
  }
}

@media screen and (max-width: 768px) {
  .col-sm-4 {
    text-align: center;
    margin: 25px 0;
  }
  .btn-lg {
    width: 100%;
    margin-bottom: 35px;
  }
  .navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
    background-color: #feb0a9;
}
.jumbotron h1 {
  margin-top:0;
}

}

@media screen and (max-width: 480px) {
  .logo {
    font-size: 150px;
  }
}

@media screen and (min-width: 640px) {
  .jumbotron h1 {
    text-align: center;
    margin: 25px 0;
    font-size: 9em;
  }

.logoCake {
  width: 16%;
  margin: 10px;
}

}


@media screen and (max-width: 640px) {
  .jumbotron h1 {
   font-size: 4em;
  }

.logoCake {
  width: 100px;
  margin: 20px;
}

}

#contactButton {
  background-color: #42c4ac;
  text-shadow: 1px 1px black;
  box-shadow: 2px 2px 2px #777;
  margin-top:10px
}
#contact {
  color: white;
  box-shadow: 0px 0px 20px -5px gray;
  margin-top:5px;
}

.form-group {
  overflow: hidden;
  padding-bottom:20px;
}

hr {
  width: 60%
}









.modal-header {
  border-bottom: 0;
  margin-top:20px;
}
.modal-footer {
  border-top: 0;
  text-align:center;
}



.modal-content {
background-color: rgba(0,0,0,.5);
width: 100vw;
height:100vh;
}
.closeButton {
background-color: #42c4ac;
color: white;
font-size: 22px;
padding: 20px;
padding-left:40px;
padding-right:40px;
border:none;
}

.closeButton:hover {
  background-color: #69d0bd;
  color:white;
}

.close {
 color:#111;
font-size: 80px;
opacity: 0.7;
transition: all .1s ease-in-out;
text-shadow: 0 0 5px #fff;
}

.close:hover {
  color:#feb0a9;
  opacity: 1;
  transform: scale(1.1);
}

.modal-dialog {
   margin:0px;
}

#modalPic {
  max-height: 90vh;
  max-width: 600px;
  border: 1px solid black;
  margin-top: -70px;
}

@media (min-width: 768px)
{
.modal-dialog {
  margin:0;
}
.modal-content {
   width:100vw;
  }
}

#social-section {
    padding: 30px 0;
    
    margin-top: 20px;
    margin-bottom: 20px;
}

.socialList {
  list-style: none;
  text-align: left;
  padding-left: 10px;
}

.social-item {
  display: inline-block;
  margin: 0 20px;
}

.fb {
  color: #777;
  font-size: 30px;
  text-shadow: 0px 1px 1px #444; 
}

.fb:hover {
  color: #feb0a9
}

.fa-birthday-cake {
  font-size: 90px;
  opacity: 0.3;
  color:white;
  margin-top:20px;
}

.profImg {
  width: 60%;
  height:auto;
  border: 2px solid pink;
  border-radius: 125px;
  box-shadow: 0px 0px 0px 0px pink;
  animation-timing:ease-in-out;
  animation: borderblob 4s infinite;
}

@keyframes borderblob {
    50% {box-shadow: 1px 1px 32px -2px #FF1744;}
}

.centerImg {
  text-align:center;
}

#myCarousel {
  background-color: #42c4ac;
  padding: 20px;
}

#myCarousel h4 {
  color: white;
}

.footy {
  background-color: #eee;
}




/* Parallax?

element.style {
    background-image: url(/sites/imore.com/files/styles/xlarge_wm_blw/public/field/image/2016/10/iphone-6s-iphone-7-plus.jpg?itok=6Hj7vbo8);
}
@media (min-width: 1050px)
.hero {
    background-attachment: fixed;
}

*/